

body {
  margin: 0;
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
}

a, a:visited, a:link {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: Montserrat;;
}
